@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
html{
    font:62.5%;
}
body {
    font: 400 16px/1.8 'Poppins', sans-serif;
    overflow-x: hidden;
    color: #DEDDE0;
}
.wrapper {
    width:82%;
    margin-left: 18%;
}
.section {
    padding: 60px 0;
    position: relative;
    background-color: #2a2d35;
}
.container {
    padding: 0 30px;
}
.font-weight-light {
    font-weight: 300!important
}
.font-weight-bold {
    font-weight: 700!important
}
.text-white {
    color: #fff!important
}
.text-dark {
    color: #343a40!important
}
p {
    color: #DEDDE0;
    font-weight: 300;
}
a {
    transition: all 0.3s ease-in-out 0s;
    text-decoration: none;
    color:#DEDDE0;
}
.section-head h2 {
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.img{
    width:100%;
    height: auto
}
.section-light {
    background: #2a2d35;
}

.section-dark {
    background: #25252d;
}
.b-box {
    background: #25252d;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out 0s;
}
.section-light .b-box {
    background: #25252d;
}

.section-dark .b-box {
    background: #2a2d35;
}
.hover-state:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
}
.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 1000;
    color: white;
  }
  
  .skip-link:focus {
    left: 0;
  }
  .footer{
      text-align: center;
  }
  .footer p{
      padding-bottom:1rem;
  }
