.skills-section {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.skill-item{
    flex-basis: 12%;
    align-self: center;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 30px;
    min-width:100px;
}
.skill-icon{
    font-size: 3.5rem;
}
.img-icon{
    width:85px;
    margin-left: auto;
    margin-right: auto;
}
.img-icon img{
    width:100%;
    filter: grayscale(100%);
    margin-bottom: 4px;
}